* {
	box-sizing: border-box;
}

body {
	background-color: #17181f;
	color: #ddd;
}

main {
	max-width: 360px;
	margin: 30px auto;
}

h1 {
	text-align: center;
	color: #fff;
	margin: 0;
}

form {
	margin-top: 20px;
}

form input {
	width: 100%;
	background-color: transparent;
	border-radius: 5px;
	padding: 2px 5px;
	border: 2px solid #30313d;
	color: #777;
}

form div.basic {
	display: flex;
	gap: 5px;
	margin-bottom: 5px;
}

form input[type="datetime-local"] {
	color: #777;
}

form button {
	margin-top: 5px;
	width: 100%;
	background-color: #ddd;
	border-radius: 5px;
	padding: 5px;
	border: 0;
}

.transactions {
	margin-top: 10px;
}

.transaction {
	display: flex;
	justify-content: space-between;
	gap: 5px;
	padding: 5px 0;
	border-top: 1px solid #777;
}
.transaction:first-child {
	border: 0px;
}
.transaction .name {
	font-size: 1.2rem;
}
.transaction .description {
	font-size: 0.8rem;
	color: #888;
}

.transaction .right {
	text-align: right;
}

.price-red {
	color: red;
}
.price-green {
	color: chartreuse;
}
